<a href="https://colab.research.google.com/github/Praveenrpw/Learning_Lab/blob/main/for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
   '''type conversions'''

''' int() : converts a value to integer
    float() : converts a value to a floating point
    str() : converts a value to a string
    list() : converts a value to a list
    tuple() : converts a value to a tuple
    set() : converts a value to a set (removes duplicates)
    dict() : converts a key-value pairs to a dictionary
    bool() : converts a value to boolean (True or False)
    len() : returns the length of an object (not a type conversion, but useful for measuring size)
    ord() : converts a character to its unicode code point
                                                            '''

' int() : converts a value to integer\n    float() : converts a value to a floating point\n    str() : converts a value to a string\n    list() : converts a value to a list\n    tuple() : converts a value to a tuple\n    set() : converts a value to a set (removes duplicates)\n    dict() : converts a key-value pairs to a dictionary\n    bool() : converts a value to boolean (True or False)\n    len() : returns the length of an object (not a type conversion, but useful for measuring size)\n    ord() : converts a character to its unicode code point'

In [ ]:
# 1.Reverse a string

n = 'hello'
print(n[::-1])

In [ ]:
# 1.1

n = 'hello'
rev = ''

for char in n:
  rev = char + rev
print(rev)

olleh

In [ ]:
# 2. sum of digits in a string

x = 'abc123'
sum_of_d = 0
for num in x:
  if num.isalpha():
    pass
  elif num.isdigit():
    sum_of_d+=int(num)
print(f"The sum of numbers are: {sum_of_d}")

The sum of numbers are: 6

In [ ]:
# 2.1

x = 'abc123'
count = sum(int(num) for num in x if num.isdigit())
print(count)

6

In [ ]:
# 3. count vowels and consonants

x = 'education'
vowels = 0
cons = 0

for c in x:
  if c in 'aeiouAEIOU':
    vowels += 1
  elif c not in 'aeiouAEIOU': # or use c.isalpha():
    cons += 1
print(f"The total number of vowels: {vowels} and consonants: {cons}")

The total number of vowels: 5 and consonants: 4

In [ ]:
# 3.1

x = 'education'

vowels = sum(1 for c in x if c in 'aeiouAEIOU')
cons = sum(1 for c in x if c not in 'aeiouAEIOU')
print(vowels, cons)

5 4

In [ ]:
# 4 factor of a number

n = int(input("Enter the number: "))
fact = 1

for num in range(1, n+1):
  fact *= num
print(f"The factorial of {n} is: {fact}")

Enter the number: 5
The factorial of 5 is: 120

In [ ]:
# 4.1

import math

fact = math.factorial(n)
print(f"The fact of {n} is {fact}")

The fact of 5 is 120

In [ ]:
# 5 pyramid pattern printing (*)

n = int(input("Enter the number to print pattern: "))

for i in range(n):
  for j in range(n-i-1):
    print(end=" ")
  for j in range(i+1):
    print("*", end=" ")
  print()

Enter the number to print pattern: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
# 5.1

n = int(input("Enter the number to print pattern: "))

for i in range(n):
  line = ' ' * (n - i - 1) + '* ' * (i + 1)
  print(line)

Enter the number to print pattern: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
#6 print even numbers

for n in range(0, 51, 2):
  print(n, end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [ ]:
# 6.1

print(' '.join(str(n) for n in range(0, 51, 2)))

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [ ]:
# 7 sum of numbers in a list

n = list(map(int, input('Enter numbers seperated by spaces: ').split()))
total_sum = 0

for num in n:
  total_sum += num
print(f"sum is {total_sum}")

Enter numbers seperated by spaces: 5 5 6
sum is 16

 total_sum += number or total_sum += 1

sometimes i get confused how to append or add the logic is confusing on each problem

In [ ]:
# 7.1

l = [5,3,5,7]
total_sum = sum(l)
print(total_sum)

20

In [ ]:
# 8 reverse a list

n = list(map(int, input("Enter numbers separated by spaces: ").split()))
reversed_list = []

for i in range(len(n) -1, -1, -1): #-1 is n-1, -1 iterates from last, -1 step of 1 reverse
  reversed_list.append(n[i])
print(f"Reversed list: {reversed_list}")

Enter numbers separated by spaces: 1 2 3 4 5
Reversed list: [5, 4, 3, 2, 1]

In [ ]:
# 8.1

n = [1, 2, 3, 4, 5]
reversed_list = n[::-1]
print(reversed_list)

[5, 4, 3, 2, 1]

In [ ]:
# 9 count words in a sentence

sentence = input("Enter a sentence: ")
words = sentence.split()
print("converts to list", words)

word_count = 0
for x in words:
  word_count += 1
print(f"{word_count} words")

Enter a sentence: I am learning Python
converts to list ['I', 'am', 'learning', 'Python']
4 words

In [ ]:
# 9.1

sentence = input("Enter a sentence: ")
word_count = len(sentence.split())
print(word_count)

Enter a sentence: I am learning Python
4

In [ ]:
# 10 find the maximum number in a list

n = [10, 20, 5, 30, 25]
max_num = n[0]

for i in n:
  if  i > max_num:
    max_num = i
print(max_num)

30

In [ ]:
# 10.1

n = [10, 20, 5, 30, 25]
max_num = max(n)
print(max_num)

30

In [ ]:
# 11 count characters in a string with space

c = 'hello world'
count = 0

for x in range(len(c)):
 count+=1
print(count)

11

In [ ]:
# 11.1

c = 'hello world'
count = len(c)
print(count)

11

In [ ]:
#12 count characters in a string exclude space

c = 'hello world'
count = 0

for x in c:
  if x != ' ':
    count += 1
print(count)

10

In [ ]:
# 12.1

c = 'hello world'
h = len(c.replace(' ', ''))
print(h)

10

In [ ]:
# 13 check for palindrome

c = 'level'
l = ''

for x in c:
  l = x + l

if c == l:
  print('palin')
else:
  print('not palin')

palin

In [ ]:
# 13.1

c = 'level'
if c == c[::-1]:
  print("palin")
else:
  print("not palin")

palin

In [ ]:
# 14 fibonacci series

n = int(input("Enter the number: "))
n1, n2 = 0,1
for i in range(n):
  print(n1, end=' ')
  n3 = n1 + n2
  n1 = n2
  n2 = n3


# for i in range(n):
#     if i == n - 1:
#         print(n1)  # Print the last number without the '+'
#     else:
#         print(n1, end=' + ')

Enter the number: 10
0 + 1 + 1 + 2 + 3 + 5 + 8 + 13 + 21 + 34 +

In [ ]:
# 15 count digits and letters in a string

s = input("Enter the string: ")
letters = digits = 0

for i in s:
  if i.isalpha():
    letters += 1
  if i.isnumeric():
    digits +=1
print(f"The total number od string is: {s} letters: {letters}, digits: {digits}")

Enter the string: abc123
The total number od string is: abc123 letters: 3, digits: 3

In [ ]:
# 16 calculate the average of numbers in a list

s = list(map(int, input("Enter the number in sequence: ").split()))
total_sum = 0

for num in s:
  total_sum += num

average = total_sum / len(s)
print(f"average: {average}")

Enter the number in sequence: 10 20 30 40
average: 25.0

In [ ]:
# 16.1

numbers = [10, 20, 30, 40]
average = sum(numbers) / len(numbers)
print(average)

25.0

In [ ]:
# 17 find numbers divisible by 3 and 5

for i in range(1, 101):
  if i % 3 == 0 and i % 5 == 0:
    print(i, end=' ')

15 30 45 60 75 90

In [ ]:
# 18 sum of squares

n = int(input("Enter the number: "))
sum_of_squares = 0

for i in range(1, n+1):
  sum_of_squares += i ** 2
print(sum_of_squares)

Enter the number: 5
55

In [ ]:
# 18.1

n = 5
sum_of_squares = sum(i ** 2 for i in range(1, n + 1))
print(sum_of_squares)

55

In [ ]:
# 19 find the smallest number in a list

n = list(map(int, input("Enter the number in sequence: ").split()))
smallest = n[0]

for i in n:
  if i < smallest:
    smallest = i
print(smallest)

Enter the number in sequence: 10 20 5 30
5

In [ ]:
# 19.1

n = [30, 20, 5, 10, 40]
s = min(n)
print(s)

5

In [ ]:
# 20 merge two lists

n1 = list(map(int, input("Enter the numbers in sequence: ").split()))
n2 = list(map(int, input("Enter the numbers in sequence: ").split()))

merge_lst = []

for i in n1:
  merge_lst.append(i)

for i in n2:
  merge_lst.append(i)

print(merge_lst)

Enter the numbers in sequence: 1 2 3
Enter the numbers in sequence: 4 5 6
[1, 2, 3, 4, 5, 6]

In [ ]:
# 20.1

list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged_lst = list1 + list2
print(merged_lst)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 21 remove duplicates from a list

lst = [1, 2, 2, 3, 4, 4, 5]
unique_lst = []

for i in lst:
  if i not in unique_lst:
    unique_lst.append(i)
print(unique_lst)

[1, 2, 3, 4, 5]

In [ ]:
# 21.1

lst = [1, 2, 2, 3, 4, 4, 5]
unique_lst1 = list(set(lst))
print(unique_lst1)

[1, 2, 3, 4, 5]

In [ ]:
# 22. sum of odd numbers

n = 100
for i in range(1, n+1, 2):
  print(i, end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
# 23. unique characters in count

s = "abcabcbb"
unique_chars = []

for char in s:
    if char not in unique_chars:
        unique_chars.append(char)
print(len(unique_chars))

3

In [ ]:
# 23.1

s = 'abcabcbb'
unique_char1 = len(set(s))
print(unique_char1)

3

In [ ]:
# 24. print numbers in reverse order

n = int(input("Enter the number: "))
for i in range(n, 0, -1):
  print(i, end=' ')

Enter the number: 11
11 10 9 8 7 6 5 4 3 2 1

In [ ]:
# 24.1

n = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
i = n[::-1]
print(i)

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [ ]:
# 25 count occurrences of a specific character

c = 'programming'
chartocount = 'g'
count = 0

for char in c:
  if char == chartocount:
    count += 1
print(f"The character '{chartocount}' appears {count} times")

The character 'g' appears 2 times

In [ ]:
# 25.1

s = 'programming'
char_to_count = 'g'
count = s.count(char_to_count)
print(count)

2

In [ ]:
# 26 count each number of characters

s2 = 'programming kowledge'
char_counter = {}

for char in s2:
  if char in ' ':
    continue
  if char in char_counter:
    char_counter[char] += 1
  else:
    char_counter[char] = 1
print(char_counter)

{'p': 1, 'r': 2, 'o': 2, 'g': 3, 'a': 1, 'm': 2, 'i': 1, 'n': 1, 'k': 1, 'w': 1, 'l': 1, 'e': 2, 'd': 1}

In [ ]:
# 26. 1

from collections import Counter

s1 = 'programming'
char_count = Counter(s1)
print(dict(char_count))

{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}

In [ ]:
#27 print multiplication table

n = int(input("Enter a number: "))

for i in range(1, 11):
  result = n * 1
print(f"{n} x {i} = {result}")

Enter a number: 7
7 x 10 = 7

In [ ]:
# 28. generate a list of squares

squares = []

for i in range(1, 11):
  squares.append(i ** 2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 28.1 list comprehension

squares = [i **2 for i in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 28.2 using map and lambda

squares1 = list(map(lambda x : x ** 2, range(1, 11)))
print(squares1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 28.3 import math

import math

squares2 = [int(math.pow(i, 2)) for i in range(1, 11)]
print(squares2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 29 right-align pattern '*'

n = int(input("Enter the number: "))
for i in range(n):
  print()
  for j in range(i+1):
    print('*', end=' ')
print()

Enter the number: 4

*
* *
* * *
* * * *

In [ ]:
# 30 create a list of cubes

cubes = []

for i in range(1,6):
  cubes.append(i ** 3)
print(cubes)

[1, 8, 27, 64, 125]

In [ ]:
# 30.1

cubes1 = [i ** 3 for i in range(1, 6)]
print(cubes1)

[1, 8, 27, 64, 125]

In [ ]:
# 30.2

cubes2 = list(map(lambda x : x**3, range(1, 6)))
print(cubes2)

[1, 8, 27, 64, 125]

In [ ]:
# 31 find the sum of even indexed elements

least = [10, 20, 30, 40, 50]
sum_even_indexes = 0

for i in range(0, len(least), 2):
  sum_even_indexes += least[i]
print(sum_even_indexes)

90

In [ ]:
# 31.1 using append

lost = [10, 20, 30, 40, 50]
even_index_elements = []

for i in range(0, len(lost), 2):
  even_index_elements.append(lost[i])
sum_even_index = sum(even_index_elements)
print(sum_even_index)

90

In [ ]:
# 31.2

loot = [10, 20, 30, 40, 50]
sum_even = sum(loot[::2])
print(sum_even)

90

In [ ]:
# 32. extract digits from a number reverse by space ' ' [!]

num32 = int(input("Enter a number: "))
num_digits32 = len(str(num32))
print(num_digits32)

for i in range(num_digits32):
  digit32 = num32 % 10
  print(digit32, end=' ')
  num32 = num32 // 10

Enter a number: 12345
5
5 4 3 2 1

In [ ]:
# 32.1

num_n = 12345
for digit_n in str(num_n)[::-1]:
  print(digit_n, end=' ')

5 4 3 2 1

In [ ]:
# 33

n = 'abc123'
digits = ''
letters = ''

for i in n:
    if i.isdigit():
        digits += i
    else:
        letters += i

result = digits + letters
print(result)

123abc

In [ ]:
# 33.1

n = 'abc123'

digit = ''
letters = ''

for i in n:
  if i.isdigit():
    digit += i
  else:
    letters += i
re = digit[::-1] + letters
print(re)

321abc

In [ ]:
# 34 print prime numbers 1 to 50

for num in range(1, 51):

  if num > 1:
    is_prime = True

    for i in range(2, int(num ** 0.5) + 1):
      if num % i == 0:
        is_prime = False
        break

    if is_prime:
      print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [ ]:
# 35 count the number of digits in each numbers

e = [1000, 100, 10, 1]
for i in e:
  each_digit = len(str(i))
  print(f'The number {i} has {each_digit} digits')

The number 1000 has 4 digits
The number 100 has 3 digits
The number 10 has 2 digits
The number 1 has 1 digits

In [ ]:
# or

e = [1000, 100, 10, 1]

for i in e:
  each_count = len(str(i))
  print(each_count, end=' ')

4 3 2 1

In [ ]:
# or

e = [1000, 100, 10, 1]
e1 = []

for i in e:
  e1.append(len(str(i)))
print(e1)

[4, 3, 2, 1]

In [ ]:
# 35.1

s = ['I', 'am', 'learning', 'Python']
for x in s:
  each_char_from_words = len(x)
  print(f'The letter {x} has {each_char_from_words} characters')

The letter I has 1 characters
The letter am has 2 characters
The letter learning has 8 characters
The letter Python has 6 characters

In [ ]:
#jdfh

23214