<a href="https://colab.research.google.com/github/Praveenrpw/Learning_Lab/blob/main/Python_Patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''basic logics for pattern'''

'basic logics for pattern'

In [ ]:

n = int(input("Enter the number: "))

for i in range(n):
  print("*", end=' ')

Enter the number: 10
* * * * * * * * * *

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
n = int(input("Enter the number: "))

for i in range(n):
  print("*")
print()

Enter the number: 10
*
*
*
*
*
*
*
*
*
*

In [ ]:
n = int(input("Enter the num: "))

for i in range(n):
  for j in range(n):
    if j == 0:
      print("* ", end="")
    else:
      print(" ", end=" ")
  print()

Enter the num: 5
*
*
*
*
*

In [ ]:
n = int(input("Enter the num: "))

for i in range(n):
  for j in range(n):
    if i == n-1:
      print("* ", end=" ")
    else:
      print(" ", end=" ")
  print()

Enter the num: 5




*  *  *  *  *

In [ ]:
n = int(input("Enter the num: "))

for i in range(n):
  for j in range(n):
    if i == j:
      print("* ", end=" ")
    else:
      print(" ",end=" ")
  print()

Enter the num: 5
*
  *
    *
      *
        *

In [ ]:
n = int(input("Enter the number: "))

for i in range(n): #row
  for j in range(i+1): #col
    print("*", end="")

Enter the number: 5
***************

In [ ]:
n = int(input("Enter the number: "))

for i in range(n):
  for j in range(n):
    print("*", end="")
  print()

Enter the number: 5
*****
*****
*****
*****
*****

In [ ]:
n = int(input("Enter the number: "))

for i in range(n):
  for j in range(i+1):
    print("* ", end="")
  print()

Enter the number: 5
*
* *
* * *
* * * *
* * * * *

In [ ]:
n = int(input("Enter the number: "))

for i in range(1,n+1):
  for j in range(1,i+1):
    print(i,"", end="")
  print()

Enter the number: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
n = int(input("Enter the number: "))

for i in range(1,n+1):
  for j in range(1,i+1):
    print(j, "", end="")
  print()

Enter the number: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n = int(input("Enter the number: "))
ascii_value = 65

for i in range(1, n+1):
  for j in range(1,i+1):
    alp = chr(ascii_value) #which points unicode from ascii_value
    print(alp, end=" ")
  ascii_value += 1
  print()

Enter the number: 5
A
B B
C C C
D D D D
E E E E E

In [ ]:
for i in range(6, 0, -1):
  print(i)

6
5
4
3
2
1

In [ ]:
for i in range(5, 0, -1):
  print(i)

5
4
3
2
1

In [ ]:
#inverted pyramid pattern

n = int(input("Enter the number: "))
for i in range(n):
  for j in range(n-i):
    print("*", end="")
  print()

Enter the number: 5
*****
****
***
**
*

In [ ]:
n = 5

for i in range(n+1):
  print(' ' * (n-i) + "*" * i)

    *
   **
  ***
 ****
*****

In [ ]:
n = int(input("Enter the number: "))

for i in range(n):
  for j in range(n):
    print("*", end="")
  print()

Enter the number: 5
*****
*****
*****
*****
*****

In [ ]:
#butterfly pattern 1

n = 6

# Upper part of the butterfly
for i in range(1, n + 1):
    # Left side of the butterfly
    print('*' * i, end='')
    # Spaces in the middle
    print(' ' * (2 * (n - i)), end='')
    # Right side of the butterfly
    print('*' * i)


# Lower part of the butterfly
for i in range(n, 0, -1):
    # Left side of the butterfly
    print('*' * i, end='')
    # Spaces in the middle
    print(' ' * (2 * (n - i)), end='')
    # Right side of the butterfly
    print('*' * i)

*          *
**        **
***      ***
****    ****
*****  *****
************

In [ ]:
# pattern butterfly_2

n = int(input("Enter the number of rows: "))

for i in range(n+1):
  for j in range(i):
    print("*", end = "")

  for j in range(2*(n-i)):
    print(" ", end= "")

  for j in range(i):
    print("*", end = "")
  print()


for i in range(n-1, 0, -1):
  for j in range(i):
    print("*", end = "")

  for j in range(2*(n-i)):
    print(" ", end="")

  for j in range(i):
    print("*", end="")

  print()

Enter the number of rows: 5

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

E:5
****  ****
***    ***
**      **
*        *

In [ ]:
5

In [ ]:
#print Hollow Triangle_1

n = int(input("Enter number of rows: "))

for i in range(n):
  for j in range(n):
    if j == 0 or i == n-1 or i == j:
      print("* ", end="")
    else:
      print(" ", end=" ")
  print()

Enter number of rows: 5
*
* *
*   *
*     *
* * * * *

In [ ]:
#print Hollow Triangle_2

n = int(input("Enter the number: "))

for i in range(n):
  for j in range(n):
    if j == 0 or i == 0 or i + j == n-1:
      print("* ", end = "")
    else:
      print(" ",end = " ")
  print()

Enter the number: 5
* * * * *
*     *
*   *
* *
*

In [ ]:
#print Hollow Triangle_3

n = int(input("Enter the number: "))

for i in range(n):
  for j in range(n):
    if j == n-1 or i == n-1 or i + j == n-1:
      print("* ", end="")
    else:
      print(" ", end=" ")
  print()

Enter the number: 5
        *
      * *
    *   *
  *     *
* * * * *

In [ ]:
 #print Hollow Triangle_4

n = int(input("Enter the number: "))

for i in range(n):
  for j in range(n):
    if i == 0 or j == n-1 or j == i:
      print("* ",end = "")
    else:
      print(" ", end = " ")
  print()

Enter the number: 5
* * * * *
  *     *
    *   *
      * *
        *

In [ ]:
n = int(input("Enter the number of rows: "))

for i in range(n):
    for j in range(n):
        # Print * if it's the first column, diagonal, or the last row
        if i == n - 1 or i == j or j == n - i - 1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()  # Move to the next line after each row

Enter the number of rows: 5
*       *
  *   *
    *
  *   *
*       *

Enter the number: 5
* * * * *
  *     *
    *   *
      * *
        *

In [ ]:
#print Hollow square_1

n = int(input("Enter number of rows: "))

for i in range(n):
  for j in range(n):
    if i == 0 or j == 0 or i == n-1 or j == n-1:
      print("* ", end="")
    else:
      print(" ", end=" ")
  print()

Enter number of rows: 5
* * * * *
*       *
*       *
*       *
* * * * *

**first row (i=0) iteration:**

j == 0 is true, so print a star in first

i == j is true, when j = 0

i == n-1 is false because i=0

till continues till i = 5

**fifth row:**

i == n-1 is true because i = 4,

is the last row, so it prints star,

all positions in this row

In [ ]:
rows = int(input("Enter rows:"))
cols = int(input("Enter Cols:"))

for i in range(0, rows):
  for j in range(0, cols):

In [ ]:
#print hollow rectange

rows = int(input("Enter the length: "))
cols = int(input("Enter the breadth: "))

for i in range(rows):
  for j in range(cols):
    if i == 0 or j == 0 or i == (rows-1) or j == (cols-1):
      print("* ", end = '')
    else:
      print(" ", end = " ")
  print()

Enter the length: 5
Enter the breadth: 8
* * * * * * * *
*             *
*             *
*             *
* * * * * * * *

In [ ]:
#print Hollow Triangle_2

n = int(input("Enter number of rows: "))

for i in range(n):
  for j in range(n):
    if i == 0 or j == 0 or i == n-1 or j == n-1:
      print("* ", end="")
    else:
      print(" ", end=" ")
  print()

Enter number of rows: 5
* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
n = int(input("E: "))

for i in range(n):
  for j in range(n):
    if i == 0 or i + j == n-1 or j == n-1:
      print("* ", end="")
    else:
      print(" ", end=" ")
  print()

E: 5
* * * * *
      * *
    *   *
  *     *
*       *

In [ ]:
n = int(input("E: "))

for i in range(n):
  for j in range(n):
    if j == 0 or i ==j or i == 0:
      print("* ", end="")
    else:
      print(" ", end=" ")
  print()

E: 5
* * * * *
* *
*   *
*     *
*       *

In [ ]:
n = int(input("E: "))

for i in range(n):
  for j in range(n):
    if j == n-1 or i ==j or i == n-1:
      print("* ", end="")
    else:
      print(" ", end=" ")
  print()

E: 5
*       *
  *     *
    *   *
      * *
* * * * *

In [ ]:
n = int(input("E: "))

for i in range(n):
  for j in range(n):
    if j == 0 or i == n-1 or i + j == n-1 :
      print("* ", end="")
    else:
      print(" ", end=" ")
  print()

E: 5
*       *
*     *
*   *
* *
* * * * *

In [ ]:
n = int(input("E: "))

for i in range(n):
  for j in range(n):
    if j == 0 or i

In [ ]:
n = int(input("E: "))
for i in range(n):
  for j in range(n-i-1):
    print(end=" ")
  for j in range(i+1):
    print('*',end=" ")
  print()

E: 4
   *
  * *
 * * *
* * * *

In [ ]:
n = int(input("E: "))

for i in range(n):
  for j in range(n-i-1):
    print(" ", end="")
  for j in range(i + 1):
    print("* ", end="")
  print()

for i in range(n - 2, -1, -1):
  for j in range(n - i -1):
    print(" ", end="")
  for j in range(i+1):
    print("* ", end="")
  print()

E: 4
   *
  * *
 * * *
* * * *
 * * *
  * *
   *

In [ ]:
n = int(input("Enter: "))

for i in range(n):
  for j in range(n-i-1):
    print(" ", end="")
  for j in range(i+1):
    if j == 1 or j == i + 1:
      print("*", end = ' ')
    else:
      print(" ", end=' ')
  print()

for i in range(n - 2, -1, -1):
  for j in range(n - i - 1):
    print(" ", end="")
  for j in range(i + 1):
    if j == 1 or j == i + 1:
      print("*", end=" ")
    else:
      print(" ", end=" ")
  print()

Enter: 5

     *
    *
   *
  *
   *
    *
     *

In [ ]:
n = int(input("Enter the number of rows: "))

# Upper part of the hollow diamond (including middle row)
for i in range(n):
    for j in range(n - i - 1):
        print(" ", end="")
    for j in range(i + 1):
        if j == 1 or j == 2 + 1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

# Lower part of the hollow diamond (excluding middle row)
for i in range(n - 2, -1, -1):
    for j in range(n - i - 1):
        print(" ", end="")
    for j in range(i + 1):
        if j == 1 or j == i + 1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter the number of rows: 5

     *
    *
   *
  *
   *
    *
     *

In [ ]:
n = 5

for i in range(n):
  for j in range(n - i - 1):
    print(" ", end="")
  for j in range(2 * i + 1):
    if j == 0 or j == 2 * i:
      print("*", end="")
    else:
      print(" ", end="")
  print()

for i in range(n - 2, -1, -1):
  for j in range(n - i - 1):
    print(" ",end="")
  for j in range(2 * i + 1):
    if j == 0 or j == 2 * i:
      print("*", end="")
    else:
      print(" ", end="")
  print()

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [ ]:
n = int(input("Enter the number of rows (half of the diamond): "))

# Upper part of the diamond (including middle row)
for i in range(n):
    print(" " * i + "*")

# Lower part of the diamond
for i in range(n - 2, -1, -1):
    print(" " * i + "*")

Enter the number of rows (half of the diamond): 4
*
 *
  *
   *
  *
 *
*

In [ ]:

# Diamond Star Pattern

n = 5

for i in range(0, n):
  for j in range(0, n-i - 1):
    print(' ', end='')
  for j in range(0, i*2 + 1):
    print('*', end='')
  print()

for i in range(1, n):
  for j in range(0, i):
    print(' ', end='')
  for j in range(0, (n-i)*2-1):
    print('*', end='')
  print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
n = 5
for i in range(1, n):
  for j in range(0, i):
    print(' ', end='')
  for j in range(0, (n-i) * 2-1):
    print('*', end='')
  print()

 *******
  *****
   ***
    *