<a href="https://colab.research.google.com/github/Praveenrpw/Learning_Lab/blob/main/core_python/for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

for() loops

*   A for loop is used to iterate over a sequence.
*   we can iterate over a string, list, tuple, dict, and a set.
*   for loop uses range() can control start, stop, step values.
*   looping through dict, iterating over dict, you can loop over keys, values or both using .items()

Basics

In [5]:
# iterate over list

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [7]:
# loop through a string

for x in "apple":
  print(x, end='')

apple

In [8]:
# break statement

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [9]:
# continue statemet

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [12]:
# range() function

for x in range(6):
  print(x, end=' ')

0 1 2 3 4 5

In [14]:
for x in range(2, 6):
  print(x, end=' ')

2 3 4 5

In [16]:
for x in range(2, 30, 3):
  print(x, end=' ')

2 5 8 11 14 17 20 23 26 29

In [17]:
# using else in for loop
# note: using break in loop, the loop will stopped and will not go for else

for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [19]:
# Nested loops

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [20]:
# pass statement
# does not ignores the iteration completely

for x in [0, 1, 2]:
  pass

**Problems**

In [1]:
# 1.Reverse a string 'hello' using inbuilt function

n = 'hello'
rev = ''

for char in n:
  rev = char + rev
print(rev)

olleh

In [ ]:
# 2. sum of digits in a string 1+2+3 = 6

x = 'abc123'
sum_of_d = 0
for num in x:
  if num.isalpha():
    pass
  elif num.isdigit():
    sum_of_d+=int(num)
print(f"The sum of numbers are: {sum_of_d}")

The sum of numbers are: 6

In [ ]:
# 3. count vowels and consonants

x = 'education'
vowels = 0
cons = 0

for c in x:
  if c in 'aeiouAEIOU':
    vowels += 1
  elif c not in 'aeiouAEIOU': # or use c.isalpha():
    cons += 1
print(f"The total number of vowels: {vowels} and consonants: {cons}")

The total number of vowels: 5 and consonants: 4

In [ ]:
# 4 factor of a number

n = int(input("Enter the number: "))
fact = 1

for num in range(1, n+1):
  fact *= num
print(f"The factorial of {n} is: {fact}")

Enter the number: 5
The factorial of 5 is: 120

In [ ]:
# 5 pyramid pattern printing (*)

n = int(input("Enter the number to print pattern: "))

for i in range(n):
  for j in range(n-i-1):
    print(end=" ")
  for j in range(i+1):
    print("*", end=" ")
  print()

Enter the number to print pattern: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
#6 print even numbers

for n in range(0, 51, 2):
  print(n, end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [2]:
# 7 sum of numbers in a list

n = list(map(int, input('Enter numbers seperated by spaces: ').split()))
total_sum = 0

for num in n:
  total_sum += num
print(f"sum is {total_sum}")

Enter numbers seperated by spaces: 1 2 3
sum is 6

In [ ]:
# 8 count words in a sentence

sentence = input("Enter a sentence: ")
words = sentence.split()
print("converts to list", words)

word_count = 0
for x in words:
  word_count += 1
print(f"{word_count} words")

Enter a sentence: I am learning Python
converts to list ['I', 'am', 'learning', 'Python']
4 words

In [ ]:
# 9 find the maximum number in a list

n = [10, 20, 5, 30, 25]
max_num = n[0]

for i in n:
  if  i > max_num:
    max_num = i
print(max_num)

30

In [ ]:
# 10 count characters in a string with space

c = 'hello world'
count = 0

for x in range(len(c)):
 count+=1
print(count)

11

In [ ]:
# 11 count characters in a string exclude space

c = 'hello world'
count = 0

for x in c:
  if x != ' ':
    count += 1
print(count)

10

In [ ]:
# 12 check for palindrome

c = 'level'
l = ''

for x in c:
  l = x + l

if c == l:
  print('palindrome')
else:
  print('not palindrome')

palindrome

In [ ]:
# 13 fibonacci series

n = int(input("Enter the number: "))
n1, n2 = 0,1
for i in range(n):
  print(n1, end=' ')
  n3 = n1 + n2
  n1 = n2
  n2 = n3

Enter the number: 10
0 1 1 2 3 5 8 13 21 34

In [ ]:
# 14 count digits and letters in a string

s = input("Enter the string: ")
letters = digits = 0

for i in s:
  if i.isalpha():
    letters += 1
  if i.isnumeric():
    digits +=1
print(f"The total number od string is: {s} letters: {letters}, digits: {digits}")

Enter the string: abc123
The total number od string is: abc123 letters: 3, digits: 3

In [ ]:
# 15 calculate the average of numbers in a list

s = list(map(int, input("Enter the number in sequence: ").split()))
total_sum = 0

for num in s:
  total_sum += num

average = total_sum / len(s)
print(f"average: {average}")

Enter the number in sequence: 10 20 30 40
average: 25.0

In [ ]:
# 16 find numbers divisible by 3 and 5

for i in range(1, 101):
  if i % 3 == 0 and i % 5 == 0:
    print(i, end=' ')

15 30 45 60 75 90

In [ ]:
# 17 sum of squares

n = int(input("Enter the number: "))
sum_of_squares = 0

for i in range(1, n+1):
  sum_of_squares += i ** 2
print(sum_of_squares)

Enter the number: 5
55

In [ ]:
# 18 find the smallest number in a list

n = list(map(int, input("Enter the number in sequence: ").split()))
smallest = n[0]

for i in n:
  if i < smallest:
    smallest = i
print(smallest)

Enter the number in sequence: 10 20 5 30
5

In [ ]:
# 19 merge two lists

n1 = list(map(int, input("Enter the numbers in sequence: ").split()))
n2 = list(map(int, input("Enter the numbers in sequence: ").split()))

merge_lst = []

for i in n1:
  merge_lst.append(i)

for i in n2:
  merge_lst.append(i)

print(merge_lst)

Enter the numbers in sequence: 1 2 3
Enter the numbers in sequence: 4 5 6
[1, 2, 3, 4, 5, 6]

In [ ]:
# 20 remove duplicates from a list

lst = [1, 2, 2, 3, 4, 4, 5]
unique_lst = []

for i in lst:
  if i not in unique_lst:
    unique_lst.append(i)
print(unique_lst)

[1, 2, 3, 4, 5]

In [ ]:
# 21. sum of odd numbers

n = 100
for i in range(1, n+1, 2):
  print(i, end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
# 22. unique characters in count

s = "abcabcbb"
unique_chars = []

for char in s:
    if char not in unique_chars:
        unique_chars.append(char)
print(len(unique_chars))

3

In [ ]:
# 23. print numbers in reverse order

n = int(input("Enter the number: "))
for i in range(n, 0, -1):
  print(i, end=' ')

Enter the number: 11
11 10 9 8 7 6 5 4 3 2 1

In [ ]:
# 24 count occurrences of a specific character

c = 'programming'
chartocount = 'g'
count = 0

for char in c:
  if char == chartocount:
    count += 1
print(f"The character '{chartocount}' appears {count} times")

The character 'g' appears 2 times

In [ ]:
# 25 count each number of characters

s2 = 'programming kowledge'
char_counter = {}

for char in s2:
  if char in ' ':
    continue
  if char in char_counter:
    char_counter[char] += 1
  else:
    char_counter[char] = 1
print(char_counter)

{'p': 1, 'r': 2, 'o': 2, 'g': 3, 'a': 1, 'm': 2, 'i': 1, 'n': 1, 'k': 1, 'w': 1, 'l': 1, 'e': 2, 'd': 1}

In [ ]:
# 26 print multiplication table

n = int(input("Enter a number: "))

for i in range(1, 11):
  result = n * 1
print(f"{n} x {i} = {result}")

Enter a number: 7
7 x 10 = 7

In [ ]:
# 27. generate a list of squares

squares = []

for i in range(1, 11):
  squares.append(i ** 2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 28 right-align pattern '*'

n = int(input("Enter the number: "))
for i in range(n):
  print()
  for j in range(i+1):
    print('*', end=' ')
print()

Enter the number: 4

*
* *
* * *
* * * *

In [ ]:
# 29 create a list of cubes

cubes = []

for i in range(1,6):
  cubes.append(i ** 3)
print(cubes)

[1, 8, 27, 64, 125]

In [ ]:
# 30 find the sum of even indexed elements

least = [10, 20, 30, 40, 50]
sum_even_indexes = 0

for i in range(0, len(least), 2):
  sum_even_indexes += least[i]
print(sum_even_indexes)

90

In [ ]:
# 31.1 using append

lost = [10, 20, 30, 40, 50]
even_index_elements = []

for i in range(0, len(lost), 2):
  even_index_elements.append(lost[i])
sum_even_index = sum(even_index_elements)
print(sum_even_index)

90

In [ ]:
# 32. extract digits from a number reverse by space ' ' [!]

num32 = int(input("Enter a number: "))
num_digits32 = len(str(num32))
print(num_digits32)

for i in range(num_digits32):
  digit32 = num32 % 10
  print(digit32, end=' ')
  num32 = num32 // 10

Enter a number: 12345
5
5 4 3 2 1

In [ ]:
# 32.1 using reversed built in function

num_n = 12345
for digit_n in str(num_n)[::-1]:
  print(digit_n, end=' ')

5 4 3 2 1

In [ ]:
# 33 print numeric first and characters last

n = 'abc123'
digits = ''
letters = ''

for i in n:
    if i.isdigit():
        digits += i
    else:
        letters += i

result = digits + letters
print(result)

123abc

In [ ]:
# 33.1 print numeric first but reverse them and character last

n = 'abc123'

digit = ''
letters = ''

for i in n:
  if i.isdigit():
    digit += i
  else:
    letters += i
re = digit[::-1] + letters
print(re)

321abc

In [ ]:
# 34 print prime numbers 1 to 50

for num in range(1, 51):

  if num > 1:
    is_prime = True

    for i in range(2, int(num ** 0.5) + 1):
      if num % i == 0:
        is_prime = False
        break

    if is_prime:
      print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [ ]:
# 35 count the number of digits in each numbers

e = [1000, 100, 10, 1]
for i in e:
  each_digit = len(str(i))
  print(f'The number {i} has {each_digit} digits')

The number 1000 has 4 digits
The number 100 has 3 digits
The number 10 has 2 digits
The number 1 has 1 digits

In [ ]:
# or

e = [1000, 100, 10, 1]

for i in e:
  each_count = len(str(i))
  print(each_count, end=' ')

4 3 2 1

In [ ]:
# or

e = [1000, 100, 10, 1]
e1 = []

for i in e:
  e1.append(len(str(i)))
print(e1)

[4, 3, 2, 1]

In [ ]:
# 35.1 count the each elemenet of the characters in list

s = ['I', 'am', 'learning', 'Python']
for x in s:
  each_char_from_words = len(x)
  print(f'The letter {x} has {each_char_from_words} characters')

The letter I has 1 characters
The letter am has 2 characters
The letter learning has 8 characters
The letter Python has 6 characters

In [3]:
# 36.

#Write a Python program that finds all pairs of numbers (i, j) where i ranges from 1 to 99 and j ranges from i to 99. The program should check if:
#The sum of i and j equals 9.
#Both i and j are equal to 9.
#The first number should be ascending order (should be 1 to 4 and 9)

for i in range(1, 100):
  for j in range(i, 100):
    if i + j == 9 or (i==9 and j==9):
      k = int(str(i) + str(j))
      print(f'{i} + {j} = {k}')

1 + 8 = 18
2 + 7 = 27
3 + 6 = 36
4 + 5 = 45
9 + 9 = 99

In [4]:
# 37.

#Write a Python program that finds all pairs of numbers (i, j) where i ranges from 1 to 99 and j ranges from i to 99. The program should check if:
#The sum of i and j equals 9.
#Both i and j are equal to 9.

for i in range(1, 100):
  for j in range(1, 100):
    if i + j == 9 or (i==9 and j==9):
      k = int(str(i) + str(j))
      print(f'{i} + {j} = {k}')

1 + 8 = 18
2 + 7 = 27
3 + 6 = 36
4 + 5 = 45
5 + 4 = 54
6 + 3 = 63
7 + 2 = 72
8 + 1 = 81
9 + 9 = 99