<a href="https://colab.research.google.com/github/Praveenrpw/Learning_Lab/blob/main/core_python/lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lists:

a datatype used to store multiple collection of values

list_index can be started from 0, second index from 1

list values are always ordered

list are mutable

list allows duplicates

list allows to store any datatypes

In [1]:
# list

mylist = ["apple", "banana", "cherry"]
mylist

['apple', 'banana', 'cherry']

In [4]:
thislist = ['apple', 'banana', 'cherry']
thislist[0]

'p'

In [23]:


thislist = ['apple', 'banana', 'cherry']
thislist[0][1]

'p'

In [24]:
# allows duplicates

thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [25]:
# finding the len of the list

thislist = ['apple', 'banana', 'cherry']
print(len(thislist))

3

In [28]:
# difference of list data types

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [29]:


#

list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [30]:


#

mylist = ['apple', 'banana', 'cherry']
print(type(mylist))

<class 'list'>

In [31]:


#

thislist = list(('apple', 'banana', 'cherry'))
print(thislist)

['apple', 'banana', 'cherry']

In [32]:


# accessing an element

my_list = [1, 2, 3, 4, 5]
print(my_list[0])
print(my_list[-1])

1
5

In [33]:
# modifying a list

my_list = [1, 2, 3, 4, 5]
my_list[1] = 10
print(my_list)

[1, 10, 3, 4, 5]

In [35]:


# adding element

# 1. append() adding a new element
# 2. insert()
# 3. extend()

my_list = [1, 2, 3, 4, 5]
my_list.append(6)
my_list.insert(2, 99)
my_list.extend([7, 8, 9])

print(my_list)

[1, 2, 99, 3, 4, 5, 6, 7, 8, 9]

In [36]:

# removing element

# 1. remove()
# 2. pop()
# 3. clear()

mylist = [1, 2, 99, 3, 4, 5, 6, 7, 8, 9]
my_list.remove(99)
my_list.pop(1)
my_list.pop()
print(my_list)

9

In [38]:


my_list.clear()
print(my_list)

[]

In [41]:

# looping through a list

my_list = [1, 2, 3, 4, 5]

for item in my_list:
  print(item, end=' ')

1 2 3 4 5

In [42]:


# list comprehension

my_list = [1, 2, 3, 4, 5]
squares = [x ** 2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

In [43]:


# slicing a list

my_list = [1, 2, 3, 4, 5]
print(my_list[1:4])
print(my_list[:3])
print(my_list[2:])

[2, 3, 4]
[1, 2, 3]
[3, 4, 5]

In [45]:


# checking for existence

my_list = [1, 2, 3, 4, 5]

if 5 in my_list:
  print('5 is in the list')
else:
  print('not in the list')

5 is in the list

In [47]:


# finding length of list

my_list = [1, 2, 3, 4, 5]

length = len(my_list)

print(length)

5

In [49]:


# sorting a list

my_list = [3, 1, 4, 2, 5]

my_list.sort()
print(my_list)

# reverse a list

new_list = sorted(my_list, reverse = True)
print(new_list)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [52]:

# reversing a sorted list

mylist = [1, 2, 3, 4, 5]

a_list = sorted(mylist, reverse = True)
print(a_list)

[5, 4, 3, 2, 1]

In [55]:

# or

mylist = [1, 2, 3, 4, 5]

mylist.reverse()
print(mylist)

[5, 4, 3, 2, 1]

In [56]:


# finding minimum / maximum/ total in a list

mylist = [1, 2, 3, 4, 5]

print(min(my_list))
print(max(my_list))
print(sum(my_list))

1
5
15

In [59]:


# copying a list in 3 ways

mylist = [1, 2, 3, 4, 5]
copy1 = my_list.copy()
print(copy1)

copy2 = list(my_list)
print(copy2)

copy3 = my_list[:]
print(copy3)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [60]:


# joining lists

list1 = [1, 2]
list2 = [3, 4]

combined = list1 + list2
print(combined)

[1, 2, 3, 4]

In [61]:


# nested list

nested_list = [[1, 2], [3, 4], [5, 6]]
print(nested_list[0])
print(nested_list[0][1])

[1, 2]
2

WORKING WITH COLLECTION OF STRINGS IN A LIST

In [1]:

# create a list of strings

my_list = ["apple", "banana", "cherry", "dates", "elderberry"]

In [3]:


# accessing elements
# you can access elements of a list using indexing

my_list = ["apple", "banana", "cherry", "dates", "elderberry"]
print(my_list[0])
print(my_list[-1])
print(my_list[3])

apple
elderberry
dates

In [4]:


# modifying elements
# list are mutable, so modifying is possible

my_list = ["apple", "banana", "cherry", "dates", "elderberry"]
my_list[1] = 'blueberry'
print(my_list)

['apple', 'blueberry', 'cherry', 'dates', 'elderberry']

In [7]:

# adding elements new strings to a list
# 1. append()
# 2. insert()
# 3. extend()

my_list = ["apple", "banana", "cherry", "dates", "elderberry"]

my_list.append('fig')
print(my_list)

my_list.insert(2, 'coconut')
print(my_list)

my_list.extend(['grape', 'kiwi'])
print(my_list)

['apple', 'banana', 'cherry', 'dates', 'elderberry', 'fig']
['apple', 'banana', 'coconut', 'cherry', 'dates', 'elderberry', 'fig']
['apple', 'banana', 'coconut', 'cherry', 'dates', 'elderberry', 'fig', 'grape', 'kiwi']

In [8]:


# removing elements
# 1. remove()
# 2. pop()
# 3. clear()

my_list = ["apple", "banana", "cherry", "dates", "elderberry"]

my_list.remove('dates')
print(my_list)

my_list.pop(1)
print(my_list)

my_list.pop()
print(my_list)

my_list.clear()
print(my_list)

['apple', 'banana', 'cherry', 'elderberry']
['apple', 'cherry', 'elderberry']
['apple', 'cherry']
[]

In [10]:

# looping through a list
# you can iterate over a list of strings using a for loop

my_list = ['apple', 'banana', 'cherry']
for fruit in my_list:
  print(fruit, end=' ')

apple banana cherry

In [2]:

# list comprehension

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
uppercased = [word.upper() for word in my_list]
uppercased

['APPLE', 'BANANA', 'CHERRY', 'DATE', 'ELDERBERRY']

In [5]:

# slicing a list
# you can slice the list to extract a portion of the list

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[1:4])

print(my_list[:3])

print(my_list[2:])

['banana', 'cherry', 'date']
['apple', 'banana', 'cherry']
['cherry', 'date', 'elderberry']

In [6]:

# checking for existence
# check if a string exists in the list using the in keyword

my_list = ["apple", "banana", "cherry", "date", "elderberry"]

if 'apple' in my_list:
  print(True)
else:
  print(False)

True

In [7]:

# finding the len of list
# to find the len use len() function to find the number of elements

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
length = len(my_list)
print(length)

5

In [10]:
#!
# sorting a list
# you can sort the list of strings
# 1. sort()   : sorts the list in place alphabetically
# 2. sorted() : returns the new sorted list

my_list = ["banana", "elderberry", "cherry", "apple", "date"]
my_list.sort()
print(my_list)

new_list = sorted(my_list, reverse = True)
print(new_list)

['apple', 'banana', 'cherry', 'date', 'elderberry']
['elderberry', 'date', 'cherry', 'banana', 'apple']

In [11]:

# reversing a list
# you can reverse the list in place

my_list = ["banana", "elderberry", "cherry", "apple", "date"]
my_list.reverse()
print(my_list)

['date', 'apple', 'cherry', 'elderberry', 'banana']

In [12]:

# finding min/max (it will work only on alphabetically)
# 1. min(): returns the alphabetical order smallest string
# 2. max(): returns the alphabetical order largest string

my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(min(my_list))

print(max(my_list))

apple
elderberry

In [15]:

# copying a list
# you can create a copy of the list, use of this for a backup!

my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
copy1 = my_list.copy()
print(copy1)

copy2 = list(my_list)
print(copy2)

copy3 = my_list[:]
copy3

['apple', 'banana', 'cherry', 'date', 'elderberry']
['apple', 'banana', 'cherry', 'date', 'elderberry']

['apple', 'banana', 'cherry', 'date', 'elderberry']

In [16]:

# joining lists
# concatenate two lists of strings using the + operators

list1 = ['apple', 'banana']
list2 = ['cherry', 'date']
combined = list1 + list2
print(combined)

['apple', 'banana', 'cherry', 'date']

In [18]:

# nested lists
# a list of strings can contain other lists (nested)

nested_list = [['apple', 'banana'], ['cherry', 'date']]
print(nested_list[0])

print(nested_list[0][1])

print(nested_list[1][1])

['apple', 'banana']
banana
date

**SORT & SORTED**

sort() and sorted() are the two ways to sort lists but both works different

*   list.sort() method:
1.  sorts or modifies directly to the original list
2.  it does not return anything just changes or sorts on the orginal list
3.  if you want to sort in descending order use reverse = True

*   sorted() method:
1.  returs a new list or stores in new list of variable that is sorted, will not affect the orginal list.
2.  it returns a new sorted list
3.  same sort in descending order use reverse = True

In [25]:
# sort()

my_list = [3, 1, 4, 1, 5]
my_list.sort()
print(my_list)

[1, 1, 3, 4, 5]

In [26]:
# reverse using sort()

my_list = [3, 1, 4, 1, 5]
my_list.sort(reverse = True)
print(my_list)

[5, 4, 3, 1, 1]

In [28]:
# sorted()

my_list = [3, 1, 4, 1, 5]
new_list = sorted(my_list)
print('Orginal list:',my_list) # orginal list
print('new_list sorted:',new_list)

Orginal list [3, 1, 4, 1, 5]
new_list sorted [1, 1, 3, 4, 5]

In [29]:
# reverse using sorted()

my_list = [3, 1, 4, 1, 5]
new_list = sorted(my_list, reverse = True)
print(new_list)

[5, 4, 3, 1, 1]

**PROBLEMS**

In [1]:
# 1. Create a list of your favorite fruits and print each fruit on a new line.

fruits = ["apple", "banana", "cherry", "mango"]
for fav in fruits:
  print(fav)

apple
banana
cherry
mango

In [7]:
# 2. Given a list of words, create a new list that contains the length of each word.

data = ["python", "list", "comprehension", "example"]
length = []

for i in data:
  length.append(len(i))
print(length)

[6, 4, 13, 7]

In [11]:
# 3. Write a program that removes all occurrences of a specified word from a list of strings.

data = ["apple", "banana", "apple", "cherry"]
word_to_remove = 'apple'

new_data = []

for char in data:
  if char != word_to_remove:
    new_data.append(char)
print(new_data)

['banana', 'cherry']

In [13]:
# 4. Given a list of words, create a new list that contains only the words that start with a vowel (a, e, i, o, u).

data = ["apple", "banana", "orange", "grape", "umbrella"]
starts_with_v = []

for c in data:
  if c[0].lower() in 'aeiou':
    starts_with_v.append(c)
print(starts_with_v)

['apple', 'orange', 'umbrella']

In [ ]:
# 5. Sort a list of strings alphabetically in reverse order without using reverse or sort(reverse=True)

In [14]:
# 6. Write a program that counts how many times a specific word appears in a list of strings.

data = ["apple", "banana", "apple", "cherry", "apple"]
count = 'apple'
count_of_apple = 0

for i in data:
  if i in count:
    count_of_apple += 1
print(count_of_apple)

3

In [18]:
# 7. Write a program that joins a list of words into a single string separated by spaces.

data = ["this", "is", "a", "sentence"]
sentence = ' '.join(data)
print(sentence)

this is a sentence

In [19]:
# 8. Given a list of words, remove all words that are shorter than 4 characters.

data = ["apple", "cat", "banana", "dog", "kiwi"]
more_than_4 = []

for c in data:
  if len(c) >= 4:
    more_than_4.append(c)
print(more_than_4)

['apple', 'banana', 'kiwi']

In [21]:

# 9. Find the longest word in a list of strings.

data = ["apple", "banana", "cherry", "date", "elderberry"]
longest_word = []

for c in data:
  if len(c) > len(longest_word):
    longest_word = c
print(longest_word)

elderberry

In [22]:
# or with inbuilt method using max

data = ["apple", "banana", "cherry", "date", "elderberry"]
longest_word = max(data, key = len)
print(longest_word)

elderberry

In [24]:
# 10. Given a list of strings, create a new list where each string is reversed.

data = ["hello", "world", "python"]
reverse_data = []

for c in data:
  reverse_data.append(c[::-1])
print(reverse_data)

['olleh', 'dlrow', 'nohtyp']