<a href="https://colab.research.google.com/github/Praveenrpw/Learning_Lab/blob/main/core_python/Python_Patterns_Stage_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''basic logics (for) pattern'''

'basic logics for pattern'

**INTRODUCTION**

In [ ]:
# single for loop with range its in n-1
# starts the range from 0, 1, 2, 3, 4 which as 5 indexes

n = 5

for i in range(n):
  print(i, end=' ')

0 1 2 3 4

In [ ]:
# if start value is 1, stop value has to be n + 1

n = 5

for i in range(1, n+1):
  print(i, end=' ')

1 2 3 4 5

**Logic of Nested for Loops**

In [ ]:
# understanding how nested for loop works!!!

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
# understanding the concept of loop in matrix representation

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

matrix = []

for x in adj:
    row = []
    for y in fruits:
        row.append(f"{x} {y}")
    matrix.append(row)

for row in matrix:
    print(row)

['red apple', 'red banana', 'red cherry']
['big apple', 'big banana', 'big cherry']
['tasty apple', 'tasty banana', 'tasty cherry']

In [ ]:
# understanding how nested for loop works with numbers

n = 3

for i in range(n):
  for j in range(n):
    print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

compare and understand this and previous program to find the similarities

In [ ]:
# how inner loop and and outer loop works shows the different using 'print() - goes to next line if inner loops completes its iteration

n = 3

for i in range(n):
  for j in range(n):
    print(i, j)
  print()

0 0
0 1
0 2

1 0
1 1
1 2

2 0
2 1
2 2

In [ ]:
# understanding the concept of working with loop in matrix

n = 3

matrix = []

for i in range(n):
  row = []
  for j in range(n):
    row.append((i, j))
  matrix.append(row)

for row in matrix:
  print(row)

[(0, 0), (0, 1), (0, 2)]
[(1, 0), (1, 1), (1, 2)]
[(2, 0), (2, 1), (2, 2)]

In [ ]:
# once the inner completes the step
# it goes to print next line
# and goes to outer loop and iterates over inner loop

n = 4

for i in range(n):
  for j in range(i+1):
    print(i, j)
  print()

0 0

1 0
1 1

2 0
2 1
2 2

3 0
3 1
3 2
3 3

In [ ]:
n = 5

for i in range(n):
  for j in range(i+1):
    print(i, j, end=' ')
  print()

0 0
1 0 1 1
2 0 2 1 2 2
3 0 3 1 3 2 3 3
4 0 4 1 4 2 4 3 4 4

In [ ]:
n = 5

for i in range(n):
  for j in range(i+1):
    print('*', end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
# concept of n-1 on columns

n = int(input("Enter the num: "))

for i in range(n):
  for j in range(n):
    if j == n-1:
      print("* ", end=" ")
    else:
      print(" ", end=" ")
  print()

Enter the num: 5
        *
        *
        *
        *
        *

In [ ]:
# concept of n-1 on rows

n = int(input("Enter the num: "))

for i in range(n):
  for j in range(n):
    if i == n-1:
      print("* ", end=" ")
    else:
      print(" ", end=" ")
  print()

Enter the num: 5




*  *  *  *  *

In [ ]:
# row at zero

n = int(input("Enter the num: "))

for i in range(n):
  for j in range(n):
    if i == 0:
      print("* ", end=" ")
    else:
      print(" ", end=" ")
  print()

Enter the num: 5
*  *  *  *  *

In [ ]:
# column at 0

n = int(input("Enter the num: "))

for i in range(n):
  for j in range(n):
    if j == 0:
      print("* ", end=" ")
    else:
      print(" ", end=" ")
  print()

Enter the num: 5
*
*
*
*
*

In [ ]:
#same but concept of next line

n = int(input("Enter the number: "))

for i in range(n):
  print()
  print("*", end=' ')

Enter the number: 5

*
*
*
*
*

In [ ]:


n = int(input("Enter the num: "))

for i in range(n):
    for j in range(n):
        if i == j:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter the num: 5
*
  *
    *
      *
        *

In [ ]:
# or

n = int(input("Enter the num: "))

for i in range(n):
    for j in range(n+1-1):
        if i == j:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter the num: 5
*
  *
    *
      *
        *

In [ ]:
# if matrix is equal number opposite diagonal direction

n = int(input("Enter the num: "))

for i in range(n):
  for j in range(n):
    if i + j == n - 1:
      print("* ", end=" ")
    else:
      print(" ",end=" ")
  print()

Enter the num: 5
        *
      *
    *
  *
*

In [ ]:
# or

n = int(input("Enter the number of rows: "))

for i in range(n):
    # Print spaces
    for j in range(n-i-1):
        print(" ", end=" ")
    # Print asterisk
    print("*")

Enter the number of rows: 5
        *
      *
    *
  *
*

In [ ]:
n = 5

for i in range(n):      #[0,1,2,3,4]
  for j in range(n-i):  #[0,1,2,3,4]
    print(i, j)
  print()

0 0
0 1
0 2
0 3
0 4

1 0
1 1
1 2
1 3

2 0
2 1
2 2

3 0
3 1

4 0

**PATTERN PROBLEMS**

In [ ]:
# Square Star Pattern

n = int(input("Enter the number: "))

for i in range(n):
  for j in range(n):
    print("* ", end="")
  print()

Enter the number: 4
* * * *
* * * *
* * * *
* * * *

In [ ]:
# Hollow Square Star Pattern

n = int(input("Enter number of rows: "))

for i in range(n):
  for j in range(n):
    if i == 0 or j == 0 or i == n-1 or j == n-1:
      print("* ", end="")
    else:
      print(" ", end=" ")
  print()

Enter number of rows: 5
* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
# print X diagonal

n = int(input("Enter the number of rows: "))

for i in range(n):
    for j in range(n):
        if i == j or i + j == n - 1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter the number of rows: 5
*       *
  *   *
    *
  *   *
*       *

In [ ]:

# or
# print X diagonal

n = int(input("Enter the number of rows: "))

for i in range(1, n+1):
    for j in range(1, n+1):
        if i == j or i + j == n + 1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter the number of rows: 5
*       *
  *   *
    *
  *   *
*       *

In [ ]:
# print Diagonal in Square

n = 5

for i in range(1, n+1):
  for j in range(1, n+1):
    if i == 1 or i == n  or j == 1 or j == n or i == j or i+j == n+1:
      print('* ', end='')
    else:
      print(' ', end=' ')
  print()

* * * * *
* *   * *
*   *   *
* *   * *
* * * * *

In [ ]:
# Rectangle Star Pattern

rows = int(input("Enter the length: "))
cols = int(input("Enter the breadth: "))

for i in range(rows):
  for j in range(cols):
    print("* ", end="")
  print()

Enter the length: 5
Enter the breadth: 7
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *

In [ ]:
# Hollow Rectangle Star Pattern

rows = int(input("Enter the length: "))
cols = int(input("Enter the breadth: "))

for i in range(rows):
  for j in range(cols):
    if i == 0 or j == 0 or i == (rows-1) or j == (cols-1):
      print("* ", end = '')
    else:
      print(" ", end = " ")
  print()

Enter the length: 5
Enter the breadth: 7
* * * * * * *
*           *
*           *
*           *
* * * * * * *

In [ ]:
# Right angled Triangle Star Pattern

n = int(input("Enter the number: "))

for i in range(n):
  for j in range(i+1):
    print("* ", end="")
  print()

Enter the number: 5
*
* *
* * *
* * * *
* * * * *

In [ ]:
# inverted left triangle pattern

n = int(input("Enter the number: "))

for i in range(n):
  for j in range(n-i):
    print("* ", end="")
  print()

Enter the number: 5
* * * * *
* * * *
* * *
* *
*

so n = 5
   i = will start iterate from 0 till 4

here: (n-i)

n = 5, i = 0

print ***** starts

same n = 5 , i = 1

print ****

same n = 5, i = 2

print ***

same n = 5, i = 3

print **

same n  = 5 , i = 4

print *

In [ ]:
# left angled Triangle Star Pattern

n = 5

for i in range(n):
  for j in range(i, n):
    print(' ', end=' ')
  for j in range(i+1):
    print('*', end=' ')
  print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
n = 5

for i in range(n):
  for j in range(i+1):
    print(' ', end=' ')
  for j in range(i,n):
    print('*', end=' ')
  print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [ ]:


n = 5

for i in range(n):
  for j in range(i+1):
    if j == 0 or i == n-1 or j == i:
      print('*', end=' ')
    else:
      print(' ', end=' ')
  print()

*
* *
*   *
*     *
* * * * *

In [ ]:
#print Hollow Triangle_2

n = int(input("Enter the number: "))

for i in range(n):
  for j in range(n):
    if j == 0 or i == 0 or i + j == n-1:
      print("* ", end = "")
    else:
      print(" ",end = " ")
  print()

Enter the number: 5
* * * * *
*     *
*   *
* *
*

In [ ]:
#print Hollow Triangle_3

n = int(input("Enter the number: "))

for i in range(n):
  for j in range(n):
    if j == n-1 or i == n-1 or i + j == n-1:
      print("* ", end="")
    else:
      print(" ", end=" ")
  print()

Enter the number: 5
        *
      * *
    *   *
  *     *
* * * * *

In [ ]:
 #print Hollow Triangle_4

n = int(input("Enter the number: "))

for i in range(n):
  for j in range(n):
    if i == 0 or j == n-1 or j == i:
      print("* ",end = "")
    else:
      print(" ", end = " ")
  print()

Enter the number: 5
* * * * *
  *     *
    *   *
      * *
        *

In [ ]:
# right direction arrow

n = int(input("E: "))

for i in range(n):
  for j in range(n):
    if i == 0 or i + j == n-1 or j == n-1:
      print("* ", end="")
    else:
      print(" ", end=" ")
  print()

E: 5
* * * * *
      * *
    *   *
  *     *
*       *

In [ ]:
# left direction arrow

n = int(input("E: "))

for i in range(n):
  for j in range(n):
    if j == 0 or i ==j or i == 0:
      print("* ", end="")
    else:
      print(" ", end=" ")
  print()

E: 5
* * * * *
* *
*   *
*     *
*       *

In [ ]:
# right down directed arrow

n = int(input("E: "))

for i in range(n):
  for j in range(n):
    if j == n-1 or i ==j or i == n-1:
      print("* ", end="")
    else:
      print(" ", end=" ")
  print()

E: 5
*       *
  *     *
    *   *
      * *
* * * * *

In [ ]:
# left down directed arrow


n = int(input("E: "))

for i in range(n):
  for j in range(n):
    if j == 0 or i == n-1 or i + j == n-1 :
      print("* ", end="")
    else:
      print(" ", end=" ")
  print()

E: 5
*       *
*     *
*   *
* *
* * * * *

In [ ]:
# print hollow diamond

n = 6

for row in range(n):
  for col in range(n):
    if (row == 0 and col == 2) or (row == 1 and col == 1) or (row == 2 and col == 0) or (row == 3 and col == 1) or (row == 4 and col == 2) or (row == 1 and col == 3) or (row == 2 and col == 4) or (row == 3 and col == 3):
      print('*', end='')
    else:
      print(end=' ')
  print()

  *
 * *
*   *
 * *
  *

In [ ]:
# or

n = 5

for row in range(n):
  for col in range(n):
    if row + col == 2 or col - row == 2 or row - col == 2 or row + col == 6:
      print('*', end = '')
    else:
      print(' ', end='')
  print()

  *
 * *
*   *
 * *
  *

In [ ]:
n = int(input("E: "))
print()
for i in range(n):
  for j in range(n-i-1):
    print(end=" ")
  for j in range(i+1):
    print('*',end=" ")
  print()

E: 5

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
# print pyramid in odd

n = int(input('E: '))
print()
for i in range(n+1):
  for j in range(n-i):
    print(' ', end='')
  for j in range(1, 2*i):
    print('*', end='')
  print()

E: 5


    *
   ***
  *****
 *******
*********

In [20]:
# print pyramid in even and only first pattern odd

n = int(input('E: '))
print()

print(' ' * (n - 1 + n) + '*')

for i in range(1, n+1):
    for j in range(n - i):
        print(' ', end=' ')
    for j in range(2 * i):
        print('*', end=' ')
    print()

E: 5

         *
        * *
      * * * *
    * * * * * *
  * * * * * * * *
* * * * * * * * * *


**Concept of Reverse**

In [ ]:
# reverse a for loop

for i in range(6, 0, -1):
  print(i)

6
5
4
3
2
1

In [18]:
for i in range(5, 0, -1):
  print(i, end = ' ')

5 4 3 2 1