<a href="https://colab.research.google.com/github/Praveenrpw/Learning_Lab/blob/main/core_python/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

set() method



*   set used to store multiple items in a single variable

*   a set is a collection which is unordered, not followed by indexes

*   a set does not allow duplicate values

*   a set is mutable allows add and remove

In [ ]:
#basics

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [ ]:
# duplicates not allowed

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [ ]:
# getting the length of a string

thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [ ]:
# A set can contain different data types

set1 = {"abc", 34, True, 40, "male"}
set1

{34, 40, True, 'abc', 'male'}

Shallow copy vs Deep copy

In [ ]:
import copy

original_list = [[1, 2, 3], [4, 5, 6]]
shallow_copy = copy.copy(original_list)
shallow_copy[0][0] = 99
print('orginal:', original_list)
print('shallow copy:', shallow_copy)

#shallow_copy is used to copy the orginal object,
#if any changes happens in the shallow copy will be reflected to the orginal object.

orginal: [[99, 2, 3], [4, 5, 6]]
shallow copy: [[99, 2, 3], [4, 5, 6]]

In [ ]:
import copy

orginal_list = [[1, 2, 3], [4, 5, 6]]
deep_copy = copy.deepcopy(orginal_list)
deep_copy[0][0] = 99
print('orginal:', orginal_list)
print('deep copy:', deep_copy)

#deep_copy is used to copy the orginal object,
#if any changes happens in the copy will not affect the orginal object

orginal: [[1, 2, 3], [4, 5, 6]]
deep copy: [[99, 2, 3], [4, 5, 6]]

**Problems**

In [ ]:
my_set = {1, 2, 3, 4}
print(my_set)

{1, 2, 3, 4}

In [ ]:
l = [3, 4, 5, 6]
another_set = set(l)
print(another_set)

{3, 4, 5, 6}

In [ ]:
# basic operator

my_set.add(5)
print(my_set)

# to add a new element in set

{1, 2, 3, 4, 5}

In [ ]:
#set operators

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print(set1.union(set2))

# retrives all the element from the given set

{1, 2, 3, 4, 5, 6}

In [ ]:
print(set1.intersection(set2))

# retrives common elements from the given set

{3, 4}

In [ ]:
print(set1.difference(set2))

print(set2 - set1)

# retrives the element from assigned first set ignores the common element

{1, 2}
{5, 6}

In [ ]:
print(set1.symmetric_difference(set2))

# retrives the elements from both the sets ignores the common

{1, 2, 5, 6}

In [ ]:
# subset, superset

# subset means all elements of set_a are found in set_b, checks the condition

sql_class = {'p', 'c', 'k', 'd'}
python_class = {'k', 'd'}

# This checks if all elements of sql_class are present in python_class
# sql_class has 'p', 'c', 'k', 'd' and python_class has only 'k', 'd'
# 'p' and 'c' are not in python_class, so it returns False
v = sql_class.issubset(python_class)
print(v)

# This checks if all elements of python_class are present in sql_class
# python_class has 'k', 'd' and sql_class has 'p', 'c', 'k', 'd'
# 'k' and 'd' are in sql_class, so it returns True
y = python_class.issubset(sql_class)
print(y)

False
True

In [ ]:
# superset, Define two sets: sql_class and python_class


sql_class = {'p', 'c', 'k', 'd'}
python_class = {'k', 'd'}

# Check if sql_class is a superset of python_class
# sql_class contains 'p', 'c', 'k', 'd' and python_class contains 'k', 'd'
# Since all elements of python_class ('k', 'd') are in sql_class,
# this check will return True, indicating sql_class is a superset of python_class
is_superset = sql_class.issuperset(python_class)
print(is_superset)  # Output: True

# Check if python_class is a superset of sql_class
# python_class contains 'k' and 'd', while sql_class contains 'p', 'c', 'k', 'd'
# Since not all elements of sql_class are in python_class ('p' and 'c' are missing),
# this check will return False, indicating python_class is not a superset of sql_class
is_superset_2 = python_class.issuperset(sql_class)
print(is_superset_2)

True
False

In [ ]:
# set methods

# update = adds all elements from another set

set_A = {1, 2, 3}
set_B = {3, 4, 5}

set_A.update(set_B)
print(set_A)

{1, 2, 3, 4, 5}

In [ ]:
# difference_update = removes elements found in another set

set_A = {1, 2, 3}
set_B = {3, 4, 5}

set_A.difference_update(set_B)
print(set_A)

{1, 2}

In [ ]:
# symmetric_difference_update = updates to keep elements that are in either set, not both

set_A = {1, 2, 3}
set_B = {3, 4, 5}

set_A.symmetric_difference_update(set_B)
print(set_A)

{1, 2, 4, 5}

In [ ]:
# intersection_update = keeps only the common elements between two sets

set_A = {1, 2, 3}
set_B = {3, 4, 5}

set_A.intersection_update(set_B)
print(set_A)

{3}