<a href="https://colab.research.google.com/github/Praveenrpw/Learning_Lab/blob/main/core_python/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. tuples basics:
# tuples are similar to list, but tuples are immutable, means they cannot be changed after creation

my_tuple = (1, 2, 3)
my_tuple

(1, 2, 3)

In [3]:
# 2. accessing elements using indexes (starts from 0)

my_tuple = (1, 2, 3)
print(my_tuple[0])

1

In [4]:
# 3. tuple operations
# concatentaion of two tuples using '+'

t1 = (1, 2)
t2 = (3, 4)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4)

In [5]:
# repeation: repeat a tuple using *

print(t1 * 2)

(1, 2, 1, 2)

In [6]:
# 4. Tuple immutability


my_tuple = (1, 2, 3)
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

In [7]:
# 5. Tuple packing
# packing: group multiple values to the tuple

packed_tuple = 1, 2, 3
print(packed_tuple)

(1, 2, 3)

In [8]:
# 6. Tuple unpacking
# unpacking: assign tuple element to variables

a, b, c = packed_tuple
print(a, b, c)

1 2 3

In [9]:
 # 7. length of a tuple
 # use len() to find the length of elements


my_tuple = (1, 2, 3)
print(len(my_tuple))

3

In [10]:
# 8. membership test
# check if an element exists in a tuple or not using n


my_tuple = (1, 2, 3)
print(2 in my_tuple)
print(2 not in my_tuple)

True
False

In [11]:
# 9. looping through tuples
# for loop iterate over a tuple

my_tuple = (1, 2, 3)
for i in my_tuple:
  print(i)

1
2
3

In [16]:
# 10. tuple methods
# count(): returns the number of times a value appears in a tuple

my_tuple = (1, 2, 3, 1, 5, 7, 7)
print(my_tuple.count(1))

2

In [21]:
# 10.1
# index(): returns the index of the first occurance of a value

my_tuple1 = (1, 2, 3, 1, 5, 7)
print(my_tuple1.index(3))

2

In [22]:
# 11. Tuple as return values
# functions can return multiple values as a tuple

def example():
  return 1, 2, 3

result = example()
print(result)

(1, 2, 3)

In [26]:
# 12. nested tuples
# a tuple inside another tuple called nested tuples

nested_tuples = ((1, 2), (3, 4))
print(nested_tuples[0][1])

print(nested_tuples[1][0])

2
3

tuple vs list

*   list are mutable, tuples are immutable
*   tuples use less memory and faster processing operations than lists

**Stage 2**

In [27]:
# 13. tuples vs dictionary keys
# since tuples are immutable, they can be used as keys in dictionaries (lists cannot be used as keys)

my_dict = {(1, 2): 'values'}
print(my_dict[(1, 2)])

values

In [28]:
# 14. tuples and function arguments
# arguments packing: when calling a function, you can pass a tuple to handle variable-length arguments using *args

def func(*args):
  print(args)

func(1, 2, 3)

(1, 2, 3)

In [30]:
# 15. converting between lists and tuples
# convert a list to a tuple using tuple(), and a tuple to a list using list()

my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print('List to Tuple:',my_tuple)

my_new_list = list(my_tuple)
print('Tuple to List:',my_new_list)

List to Tuple: (1, 2, 3)
Tuple to List: [1, 2, 3]

In [32]:
# 16. Named Tuples (from the collections module)
# named tuples allow you to create tuples with named fields, making your choice more readable

from collections import namedtuple

point = namedtuple('Point', 'x y')
p = point(1, 2)
print(p.x, p.y)

1 2

In [1]:
# 17. memory efficiency of tuples
# due to their immutability, tuples are more-efficient , tuples are more memory-efficient compared to lists.
#You can check this using the sys.getsizeof() method to compare the memory usage of a tuple and a list containing the same elements.

import sys
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)
print(sys.getsizeof(my_list))
print(sys.getsizeof(my_list))

# just nothing just finding the memory size of list and tuple

88
88